body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #EB5202;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 95%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    color: #000;
}


.navbar {
    background-color: #EB5202;
    color: #fff;
    /*#FE7F18*/
}

    .navbar a, .navbar a:link, .navbar a:visited, .navbar a:active {
        text-decoration: none;
        color: #FFF;
    }

    .navbar a:hover {
        text-decoration: none;
        color: #000000;
    }

.navbar-header {
    color: #FFF;
}

.navbar-toggle {
    color: #FFF;
}

.navbar .navbar-toggle .icon-bar {
    background-color: white !important;
}


.gridTable {
    margin: 5px;
    padding: 12px;
    border: 1px #FDB53D solid;
    border-collapse: collapse;
    min-width: 35%;
    background-color: #fff;
    color: #fff;
}


    .gridTable tr.gridAltRow {
        padding: 12px;
        text-decoration: none;
        background-color: #efeeef;
        color: #333;
    }


    .gridTable tr:hover {
        text-decoration: none;
        padding: 12px;
        background-color: #FDB53D;
        color: #333;
    }

.gridAltRow td, .gridAltRow td:link, .gridAltRow td:visited, .gridAltRow td:active, .gridAltRow td:hover {
    text-decoration: none;
    padding: 12px;
    color: #333;
}

.gridRow td, .gridRow td:link, .gridRow td:visited, .gridRow td:active, .gridRow td:hover {
    text-decoration: none;
    padding: 12px;
    color: #333;
}

.gridAltRow a, .gridAltRow a:link, .gridAltRow a:visited, .gridAltRow a:active, .gridAltRow a:hover {
    text-decoration: none;
    padding: 12px;
    color: #333;
}

.gridRow a:link, .gridRow a:visited, .gridRow a:active, .gridRow a:hover {
    text-decoration: none;
    padding: 12px;
    color: #333;
}


.gridHead th {
    font-weight: bold;
    background-color: #FE7F18;
    color: #fff;
    padding: 12px
}

.gridHead a:link, .gridHead a:visited, .gridHead a:active, .gridHead a:hover {
    text-decoration: none;
    padding: 12px;
    color: #fff;
}

.gridHead a:hover {
    padding: 12px;
    text-decoration: none;
    color: #fff;
}

.gridFooter td {
    padding: 12px;
    background-color: #EB5202;
    color: #999;
    font-size: 12pt;
    text-align: center;
}

.gridFooter a {
    font-weight: bold;
    color: #333;
    border: 1px #333 solid;
}

.gridLarge {
    width: 290px;
    text-align: left;
}


.gridLargeLeft {
    width: 520px;
    text-align: left;
}

.gridMedio {
    width: 140px;
}

.gridMedioLeft {
    width: 180px;
    text-align: left;
}

.gridNormal {
    width: 40px;
}

.gridNormalLeft {
    width: 40px;
    text-align: left;
}


.gridSmall {
    width: 10px;
    text-align: center;
}

.gridNormal_num {
    width: 40px;
    text-align: right;
}


/* .................. */
.divlink {
    background-color: #FDB53D;
    width: 120px;
    height: 120px;
    cursor: pointer;
    display: inline-block;

    padding: 20px 5px 2px 2px ;
    color: #000000;
    font-size: 12pt;
    font-weight:200;
    text-align: center;
}

    .divlink a, .divlink a:link {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
    }


.divlink a:hover {
    background-color: #ffffff;
}



.bg-fundo {
    /*background-image: url("../../Content/img/fundo.png");*/
    background-color: #EB5202;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px 20px 20px 20px;
    color: #fff;
}

.jumbotron {
    background-color: #EB5202;
}

.loginForm {
}




.list-group-item-orange {
    color: #fff;
    background-color: #FE7F18;
}

a.list-group-item-orange,
button.list-group-item-orange {
    color: #fff;
}

a.list-group-item-orange .list-group-item-heading,
button.list-group-item-orange .list-group-item-heading {
    color: inherit;
}

    a.list-group-item-orange:hover,
    button.list-group-item-orange:hover,
    a.list-group-item-orange:focus,
    button.list-group-item-orange:focus {
        color: #000;
        background-color: #FDB53D;
        border-color: #FE7F18;
    }

    a.list-group-item-orange.active,
    button.list-group-item-orange.active,
    a.list-group-item-orange.active:hover,
    button.list-group-item-orange.active:hover,
    a.list-group-item-orange.active:focus,
    button.list-group-item-orange.active:focus {
        color: #fff;
        background-color: #8a6d3b;
        border-color: #FE7F18;
    }