@{
    ViewBag.Title = "Menu Principal";
}
@using TheLittleOrangeChannel.Controllers.Shared;

@if (SessionProfile.ADM || SessionProfile.Canal)
{
    <div class="bg-fundo">
            <h2>Consulta de clientes </h2>
            <br />


            <a href="~/Prestadores/Prestadores?strCriterio=Trafego" class="list-group-item list-group-item-action list-group-item-orange">
                <h4> Trafego</h4>
                Prestadores cadastrados recentemente<br />
            </a>

            <a href="~/Prestadores/Prestadores?strCriterio=Prospectado" class="list-group-item list-group-item-action list-group-item-orange">
                <h4> Prospectados</h4>
                Enviamos as mensagens<br />
            </a>
            <a href="../Prestadores/Prestadores?strCriterio=Oportunidade" class="list-group-item list-group-item-action list-group-item-orange">
                <h4> Oportunidade</h4>
                Responderam as mensagens<br />
            </a>
            <a href="../Prestadores/Prestadores?strCriterio=Negociando" class="list-group-item list-group-item-action list-group-item-orange">
                <h4> Negociando</h4>
                Estamos fechando um plano<br />
            </a>
            <a href="../Prestadores/Prestadores?strCriterio=Pagamento" class="list-group-item list-group-item-action list-group-item-orange">
                <h4> Pagamento</h4>
                Estão efetuando o pagamento<br />
            </a>
            <a href="../Prestadores/Prestadores?strCriterio=Ativo" class="list-group-item list-group-item-action list-group-item-orange">
                <h4> Ativos</h4>
                Já são nossos clientes<br />
            </a>
            <a href="../Prestadores/Prestadores?strCriterio=" class="list-group-item list-group-item-action list-group-item-orange">
                <h4> Todos</h4>
                Todos clientes registrados<br />
            </a>

    </div>

}